<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863843099859-i7ea2880d1icriu3ke2el9d3sdk678kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863843099859-i7ea2880d1icriu3ke2el9d3sdk678kf</string>
	<key>API_KEY</key>
	<string>AIzaSyBbWvqFy6UQ2c8GJ6NqrSxUy7Hsn5SJjQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>863843099859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseapp.caraquedev</string>
	<key>PROJECT_ID</key>
	<string>caraque-225bb</string>
	<key>STORAGE_BUCKET</key>
	<string>caraque-225bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863843099859:ios:0ec61f8386adf3ffa36026</string>
</dict>
</plist>